.img-item{
cursor: pointer;

}
.item-text{
    position: absolute;
    bottom: 20px;
    left: 10%;
    width: 80%;
    text-align: center;
}
.lightbox{
    position: fixed;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .6);
    width: 100%;
    
}
.lightbox-container{
    width: 50%;
    height: 500px;
    transition: left .3s ease-in;
    background-image: url(../portfolio/1.jpg);
    background-position: center center;
    background-size: cover;

}
.lightbox-container i{
    font-size: 1.2rem;
    margin: .6rem;
}
#close{
    position: absolute;
    top: 10px;
    right: 0;
}
#prev,#close,#next{
    cursor: pointer;
    transition: all .3s;

}
#prev:hover,#close:hover,#next:hover{
    color: #777;
}

